*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.task-bar{
    height: 100%;
    width: 20%;
border-right: 2px solid #0000001b;
justify-content: left;
}
.task-bar > h1{
    margin: 30px 10px;
}
.bar{
 margin: 10px;
 margin-bottom: 30px;
}
.aligh-icon{
    margin-left: 8px;

}
 #circle > img, #circle{
    border-radius: 50%;
    position: relative;
    top: 3px;    
 }
 .light-color{
    color: #a69a9adc;
    padding-top: 5px;
 }
    .circle{
        border-radius: 80%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        padding: 2px;
        margin: 0px;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
#circle > span{
    position: relative;
    bottom: 2px;    
}
 .hero-page{
    display:flex;
    margin-left: 10px;
    
}
.story-pic{
    width: 44%;
    justify-content: flex-start;
    display:flex;
    margin-left: 30px;
    padding-left: 30px;
}
.pic{
    width: 60px;
    height: 75px;
    margin: 10px;
    margin-top: 45px;
    padding: 0px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;

 }
 .profile-pic{
   
     display: block;
     margin:80px 0px 0px -40px;
     float:left;
    
    }
    .profile{
        display: flex;
        align-items: center;
        padding: 5px;
    }
    .profile-text{
        padding: 10px  5px 5px 10px;
        align-items: center;
    }
    #see, #switch, #tech, #shot{
        position: relative;
        right: -70px;
   float:left;
   
   margin-left: 10px;
    }
    #see{
        color: black;
    }
    .blue{
        font-size: 12px;
        font-weight: 500;
        color: #123ad8;
        float:left;
    margin-left: 20px;
    padding-left: -20px;
    }
    .see{
     align-items: baseline;
    
      
    }
  
    #shot{
        right: -6px;
    }
    #tech{
        right: -22px;
    }
    #switch{
        right: -35px;
    }
    .follow >#blue{
        margin-left: initial;

    }
    #posts{
        width: 62vh;
        height: 65vh;
        margin: 10px;
        padding: 0px;
        margin-left: -45px;
    }
   
    .describe{
        text-overflow: ellipsis;
        font-size: 12px;
    }
   

/* 
.profile-post{
position: relative;
width:30%;
right: 93vh;
top: 25vh;
display: flex;
background-color: #285AEB;
}
.profile-pos{
    align-items: flex-start;
justify-content: flex-start;
    display:flex;
}
*/
.posts{
    width: 30px;
    height: 30px;
}

.profile-tex{
    font-size: 12px;
    padding:10px;
    margin-top: -5px;
}
